body {
  background: black;
  height: 100vh;
}

.box {
  background: #a54e4e;
  width: 30rem;
  height: 30rem;
  box-shadow: 4rem 4rem lightgray;
  border-radius: 4rem;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem;
}

.card {
  background: #a54e4e;;
  border-radius: 3rem;
  box-shadow: 0 0 1rem 1rem lightgray;;
  font-size: 2rem;
  margin: 1 2rem;
  max-width: 500px;
  overflow: hidden;
  transform: rotate(-5deg);
  transition: transform .2s;
  padding: 1rem;
}

.card:hover {
  transform: rotate();
}

.card:hover {
  transform: scale(1.25);
}


