html {
    font-size: 62.5%;
  }

body{
    align-items: center;
    background: #0f0e0e;
    display: flex;
    font-family:  "Roboto", sans-serif;
    font-size: 1.6rem;
    justify-content: space-evenly;
}

.form-signin {
    max-width: 300px;
    text-align: center;
    width: 100%;
    color: aquamarine;
    padding-top: 20rem;
  }
  
.form-control{
    border: 1px solid #ccc;
    outline: 0;    
}

.form-control, .btn{
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
  }

.btn {
    background: orange;
    border: 0;
    border-radius: 30px;
    color: #110909;
    cursor: pointer;
    outline: 0;
    font-size: large;
  }
  
  .form-group {
    margin: 1rem 0;
  }

  input[type=checkbox]{
    background-color: #6d6f72;;
}

input[type=checkbox]:checked{
    background-color: #6d6f72;;
}