html{
  font-size: 62.5%;
}
body{
  color: #222;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 2rem;
}


.lead {
  font-family: 'PT Serif', 'Times New Roman', Times, serif;
  font-size: 2.5rem;
}

.container{
  width: 1140px;
  margin: 0 auto;
}

h1{
  text-align: center;
  color: #000;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.1;
  font-size: 5.61rem;
}

li{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: underline;
}

h2 {
  font-size: 4.209rem;
}
