body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box-circle {
  background: grey;
  width: 10rem;
  height: 10rem;
  transition: all 1s ease-in-out;
}

.box-circle:hover {
  background: red;
  border-radius: 75%;
  height: 40rem;
  width: 40rem;
}
